@tailwind base;
@tailwind components;
@tailwind utilities;

.circulo{
    width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}