@tailwind base;
@tailwind components;
@tailwind utilities;

.circulo{
    width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}