@tailwind base;
@tailwind components;
@tailwind utilities;

.circulo{
    width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}